/* ------------------------------- basic reset ------------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 800;
}

/* ---------------------------- fonts and colours --------------------------- */
:root {
  /* primary colours */
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  /* neutral colours */
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);

  /* fonts */
  font-family: "Manrope", sans-serif;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  font-size: 2.8rem;
  background-color: var(--dark-blue);
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-grayish-blue);
  padding: 40px 24px 64px 24px;
  margin: 120px 16px 32px 16px;
  border-radius: 10px;
  max-width: 540px;
}

header {
  display: flex;
  color: var(--neon-green);
  align-items: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 3.45714px;
}

header h1 {
  font-size: inherit;
}

.advice {
  color: var(--light-cyan);
  font-size: 2.4rem;
  text-align: center;
  line-height: 33px;
  letter-spacing: -0.257143px;
  margin: 24px 0;
}

.divider::before {
  content: url(../images/pattern-divider-mobile.svg);
}

.advice-button {
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: none;
  background-color: var(--neon-green);
  bottom: -32px;
}

/* ---------------------------- style attribution --------------------------- */
.attribution {
  padding-top: 16px;
  font-size: 11px;
  text-align: center;
  color: var(--light-cyan);
}
.attribution a {
  color: hsl(228, 45%, 44%);
  color: var(--grayish-blue);
  text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/*                                media queries                               */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 600px) {
  body {
    position: relative;
    justify-content: center;
  }

  main {
    margin: 0;
    margin-bottom: 32px;
    padding: 48px 48px 72px 48px;
  }

  header {
    font-size: 1.3rem;
  }

  .advice {
    font-size: 2.8rem;
  }

  .divider::before {
    content: url(../images/pattern-divider-desktop.svg);
  }

  button:hover {
    box-shadow: 0px 0px 40px var(--neon-green);
  }

  footer {
    position: absolute;
    bottom: 16px;
  }
}
